* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  background: #dbaf37;
}

.game-section {
  width: 1024px;
  height: 768px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  width: calc(25% - 1rem);
  height: calc(33% - 1rem);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: all .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  cursor: pointer;
}

.card:hover
{
  box-shadow: 1px 1px 20px rgba(0, 0, 0, .4);
}

.card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front,
.back{
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #bdbab1;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  transform: rotateY(180deg);
}

.info-box
{
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.274);
  width: 16rem;
}

#points
{
  padding: 16px 16px;
  color: rgb(33, 148, 214);
  font-size: x-large;
}

#time
{
  padding: 16px 16px;
  color: rgb(120, 236, 43); /*Maybe change color if time gets to 10 seconds?*/
  font-size: x-large;
}

.nickname-box
{
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 20%;
  height: 25%;
  padding: 16px;
  z-index: 99;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.315);
}

.blur-box
{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.294);
  z-index: 98;
  filter: blur(1px);
}
/*TICK nek*/
.tick-container {
  position:fixed;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  z-index: -3;
  width: 50%;
  max-width: 250px;
  margin: 0 auto;
}
.circ{
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.tick{
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 0.7s 0.3s ease-out;
    -moz-transition: stroke-dashoffset 0.7s 0.3s ease-out;
    -ms-transition: stroke-dashoffset 0.7s 0.3s ease-out;
    -o-transition: stroke-dashoffset 0.7s 0.3s ease-out;
    transition: stroke-dashoffset 0.7 0.3s ease-out;
}
.drawn + svg .path{
    opacity: 1;
    stroke-dashoffset: 0;
}
